<a href="https://colab.research.google.com/github/IanPol0/DataScienceNetflix/blob/main/DataScienceNetflix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##LAS FUNCIONES EN CAMELCASE Y LAS VARIABLES EN SNAKECASE Y RESPETENLO
##Los subtitulos en '##', Los ejercicios en '###'

#Trabajo Práctico Netflix
Septiembre 2022

##Import

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
url='https://raw.githubusercontent.com/IanPol0/DataScienceNetflix/main/NetflixHistory.csv'
history = pd.read_csv(url)

##Delete devices not required

In [ ]:
devices_remove = ['Sony PS4', 'Netflix Windows App - Cadmium Windows Mobile', 
'Apple iPhone 6s', 'Apple iPhone 7 Plus (CDMA)', 'Chrome PC (Cadmium)', 'Samsung 2015 NT14M DTV Smart TV', 
'iPhone 5S GSM', 'Google Chromecast V3 Streaming Stick']

#delete devices not required
for device in devices_remove:
  print(len(history), device)
  history = history.drop(history.index[history['Device Type'] == device], inplace=False)
  history = history.reset_index(drop=True)

6291 Sony PS4
6291 Netflix Windows App - Cadmium Windows Mobile
6291 Apple iPhone 6s
6291 Apple iPhone 7 Plus (CDMA)
6291 Chrome PC (Cadmium)
6291 Samsung 2015 NT14M DTV Smart TV
6291 iPhone 5S GSM
6291 Google Chromecast V3 Streaming Stick

##Adapt time

In [ ]:
#returns hours, minutes and seconds in seconds
def toSeconds(time_str):
  h, m, s = time_str.split(':')
  return int(h) * 3600 + int(m) * 60 + int(s)

##Divide series and movies

In [ ]:
for i in range(len(history['Title'])):
  if history['Title'][i].__contains__('Temporada'):
    history['Type'][i] = 'serie'
  elif history['Title'][i].__contains__('Capítulo'): 
    history['Type'][i] = 'serie'
  elif history['Title'][i].__contains__('Season'): 
    history['Type'][i] = 'serie'
  elif history['Title'][i].__contains__('Clip'): 
    history['Type'][i] = 'serie'
  elif history['Title'][i].__contains__('Resumen'): 
    history['Type'][i] = 'serie'
  elif history['Title'][i].__contains__('Tráiler'): 
    history['Type'][i] = 'serie'
  else:
    history['Type'][i] = 'movie'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
history[history['Type']=='movie']

,Unnamed: 0,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country,Type
89,89,Chona,2022-07-16 22:28:48,01:40:03,NaN,Mr. Holmes,NaN,Apple Apple TV 4 Apple TV,01:39:52,01:39:52,AR (Argentina),movie
134,134,Chona,2022-05-01 00:15:24,00:00:17,Autoplayed: user action: None;,The Spy: Limited Series_hook_03_16x9,HOOK,Apple Apple TV 4 Apple TV,00:00:18,00:00:18,AR (Argentina),movie
135,135,Chona,2022-05-01 00:14:32,00:00:21,Autoplayed: user action: None;,Shutter Island_hook_primary_16x9,HOOK,Apple Apple TV 4 Apple TV,00:00:22,00:00:22,AR (Argentina),movie
138,138,Chona,2022-05-01 00:12:46,00:00:26,Autoplayed: user action: None;,Drive_hook_06_16x9,HOOK,Apple Apple TV 4 Apple TV,00:00:26,00:00:26,AR (Argentina),movie
145,145,Chona,2022-04-17 02:08:02,00:00:06,Autoplayed: user action: None;,Fast & Furious Presents: Hobbs & Shaw_hook_01_...,HOOK,Apple Apple TV 4 Apple TV,00:00:07,00:00:07,AR (Argentina),movie
...,...,...,...,...,...,...,...,...,...,...,...,...
6162,12868,Chona,2015-01-20 00:49:39,01:29:21,NaN,Flubber y el profesor chiflado,NaN,Apple TV 3 (revised),01:29:21,01:29:21,AR (Argentina),movie
6163,12869,Chona,2015-01-20 00:20:46,00:00:32,NaN,Toy Story: una historia de terror,NaN,Apple TV 3 (revised),00:21:39,00:21:39,AR (Argentina),movie
6188,12894,Chona,2015-01-16 00:48:04,01:34:02,NaN,Pesos pesados,NaN,Apple TV 3 (revised),01:34:01,01:34:01,AR (Argentina),movie
6189,12895,Chona,2015-01-16 00:30:53,00:00:01,NaN,Pesos pesados,NaN,Apple TV 3 (revised),00:00:01,Not latest view,AR (Argentina),movie
6190,12896,Chona,2015-01-16 00:19:51,00:00:19,NaN,Mighty Morphin Power Rangers: The Movie,NaN,Apple TV 3 (revised),00:00:19,00:00:19,AR (Argentina),movie

In [ ]:
history[history['Type']=='movie']

Empty DataFrame
Columns: [Unnamed: 0, Profile Name, Start Time, Duration, Attributes, Title, Supplemental Video Type, Device Type, Bookmark, Latest Bookmark, Country, Type]
Index: []

In [ ]:
series = history[history['Type'] == 'serie']
movies = history[history['Type'] == 'movie']
del history['Type'], series['Type'], movies['Type']

KeyError: ignored

In [ ]:
movies

Empty DataFrame
Columns: [Unnamed: 0, Profile Name, Start Time, Duration, Attributes, Title, Supplemental Video Type, Device Type, Bookmark, Latest Bookmark, Country]
Index: []

##Exercises

###a) Contabilizar el dispositivo con el que más títulos se reprodujeron.

In [ ]:
devices_compare = {}

for dev in history['Device Type']:
  if dev not in devices_compare:
    devices_compare[dev] = 1
  else:
    devices_compare[dev] += 1

max(devices_compare, key=devices_compare.get)

'Apple Apple TV 4 Apple TV'

###b) Encontrar la película con más ocurrencias y la película con mayor duración total.

In [ ]:
movies

Empty DataFrame
Columns: [Unnamed: 0, Profile Name, Start Time, Duration, Attributes, Title, Supplemental Video Type, Device Type, Bookmark, Latest Bookmark, Country]
Index: []

In [ ]:
movies_compare = {}

for mov in movies['Title']:
  if mov not in movies_compare:
    movies_compare[mov] = 1
  else:
    movies_compare[mov] += 1

#max(movies_compare, key=movies_compare.get)
movies_compare

{}

In [ ]:
movies = {}

for movie in history['Title']:
  if isMovie(movie):
    if movie not in movies:
      movies[movie] = 1
    else:
      movies[movie] += 1
max(movies, key=movies.get)

'The Redeemed and the Dominant: Fittest on Earth'

In [ ]:
history

,Unnamed: 0,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,0,Chona,2022-08-21 19:54:53,00:02:54,NaN,Community: Temporada 3: Teoría del caos correc...,NaN,Apple Apple TV 4 Apple TV,00:02:55,00:02:55,AR (Argentina)
1,1,Chona,2022-08-21 19:33:17,00:21:33,NaN,Community: Temporada 3: Ecología competitiva (...,NaN,Apple Apple TV 4 Apple TV,00:21:33,00:21:33,AR (Argentina)
2,2,Chona,2022-08-21 19:11:40,00:21:28,NaN,Community: Temporada 3: Geografía del conflict...,NaN,Apple Apple TV 4 Apple TV,00:21:28,00:21:28,AR (Argentina)
3,3,Chona,2022-08-21 18:50:27,00:20:41,NaN,Community: Temporada 2: Intermediate Documenta...,NaN,Apple Apple TV 4 Apple TV,00:21:02,00:21:02,AR (Argentina)
4,4,Chona,2022-08-21 18:16:34,00:21:20,NaN,Community: Temporada 3: El documental (Capítul...,NaN,Apple Apple TV 4 Apple TV,00:21:21,00:21:21,AR (Argentina)
...,...,...,...,...,...,...,...,...,...,...,...
12992,12992,Chona,2015-01-08 19:21:21,00:04:09,NaN,Lost: Temporada 1: Éxodo: Parte 1 (Capítulo 23),NaN,Apple TV 3 (revised),00:04:40,Not latest view,AR (Argentina)
12993,12993,Chona,2015-01-08 19:20:47,00:00:15,NaN,Lost: Temporada 1: Nacida para correr (Capítul...,NaN,Apple TV 3 (revised),00:00:14,Not latest view,AR (Argentina)
12994,12994,Chona,2015-01-08 19:18:32,00:00:37,NaN,Lost: Temporada 1: Éxodo: Parte 1 (Capítulo 23),NaN,Apple TV 3 (revised),00:00:37,Not latest view,AR (Argentina)
12995,12995,Chona,2015-01-08 19:16:45,00:00:18,NaN,Lost: Temporada 1: Éxodo: Parte 1 (Capítulo 23),NaN,Apple TV 3 (revised),00:00:18,Not latest view,AR (Argentina)
12996,12996,Chona,2015-01-08 19:15:14,00:00:18,NaN,Lost: Temporada 1: Éxodo: Parte 1 (Capítulo 23),NaN,Apple TV 3 (revised),00:00:18,Not latest view,AR (Argentina)

###c) Generar un TOP “N” de series vistas y graficar.

####i) Por tiempo visto.

####ii) Por ocurrencias.

###d) Visualizar una semana de reproducciones genérica, en función a las reproducciones por día y por horario de todos los años.

###e) Contabilizar la cantidad de títulos vistos por año, graficar su variación a través de los años.